header {
  background-color: #2495ff;
  font-size: 2.5rem;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0.5rem;
  text-align: center;
  align-items: center;
  height: 3rem; }
  header ul {
    display: flex;
    justify-content: space-evenly; }
    header ul li {
      display: flex;
      justify-content: space-between; }
      header ul li a {
        color: white;
        font-size: 1.5rem;
        font-weight: 500;
        margin-left: 5px; }
